{{!-- <h3>this is partial - it is common !!!!!!!!!!!!!!!</h3>
<ol>
    <li><a href="/">Home</a></li>
    <li><a href="/support">Support</a></li>
    <li><a href="/help">Help</a>  </li>
</ol> --}}

<header>
       <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="help">help</a></li>
            <li><a href="about">About</a></li>
        </ul>
       </nav>
</header>