.card-img-top{
    width: 100%;
    height:  20vh;
}
.row{       
    justify-content: center;
}

.space{
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-space{
    margin-bottom: 10px;
}

.col-3 {
  flex: auto; 
  max-width: 24% !important;
  padding: 1%;
}
@media (max-width: 768px) {

    div div div{
        margin: 1%;
    }
    .btn{
        font-size: 100%;
    }
    .card-img-top{
        height: 15vh;
    }
    
  }


@media (max-width: 480px) {
    .col-3 {
        max-width: 48% !important;
        padding: 0px !important;
    }
    h5,p{
        font-size:  100%;
    }
    .btn{
        font-size: 100%;
    }
    .card-img-top{
        height: 10vh;
    }
  }
  
  